<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
    <title>Pages</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="desktop-nav">
        <div class="logo-container">
            <a href="../index.html" class="logo">AK(tion)</a>
            <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
        </div>
        <ul class="menu">
            <li><a href="../projects.html">PROJECTS</a></li>
            <li><a href="../music.html">MUSIC</a></li>
            <li><a href="../contact.html">CONTACT</a></li>
        </ul>
    </nav>

    <div class="project">
        <div class="project-image">
            <img src = "../../assets/connect4.png" alt="Album 1" class = "project-cover">
        </div>
        <div class="project-description">
            <h3 class="project-title">Connect 4</h3>
            <a href="../about.html" class="project-artist">Ademide Kosoko</a>
            <h6 class="project-genre">JavaScript · Game · 2024</h6>            
            <p class="project-info">This project simulates a game of Connect 4 with Player 1 being the Red Player and Player 2 being the Yellow Player.
                The game can be played against a friend or against an AI. The game also allows you to undo previous moves.
            </p>
            <div class ="project-btns">
                <a href="https://github.com/ademidek/aktion-connect-4" target="_blank" class="project-btn">View on GitHub</a>
                <a href="" class="project-btn">Play Game</a>
            </div>
        </div>
    </div>
    <div class="project-tracks-container">
        <h4 class="project-artist">Features of this project:</h4>
        <ol class="project-tracks">
            <li>Play against a friend</li>
            <li>Play against an AI</li>
            <li>Undo previous moves</li>
            <li>Animate pieces as you place them</li>
            <li>Determines winner using sliding window logic</li>
        </ol>
    </div>
    <footer>
        <div>
            <p>Thanks for coming, have a great day!</p>
        </div>
        <p class="footer">&copy; 2024 AK(tion) | All Rights Reserved</p>
    </footer>
</body>
</html>