<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
    <title>Pages</title>
</head>
<body>
    <div class="project">
        <div class="project-image">
            <img src = "../../assets/logo.png" alt="Album 1" class = "project-cover">
        </div>
        <div class="project-description">
            <h3 class="project-title">Connect 4</h3></a>
            <h6 class="project-artist">Ademide Kosoko</h6>
            <h6 class="project-genre">Game * 2024</h6>            
            <p class="project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptas cum nesciunt deserunt provident, maiores veniam quia distinctio recusandae ad sequi corrupti quam tempora blanditiis sit adipisci nam facere saepe?</p>
            <div class ="project-btns">
                <a href="https://github.com/ademidek" target="_blank" class="project-btn">View on GitHub</a>
                <a href="projects/connect4" class="project-btn">Play Game</a>
            </div>
        </div>
    </div>
    <div class="project-tracks">
        <ol>
            <li>Track 1</li>
            <li>Track 2</li>
            <li>Track 3</li>
            <li>Track 4</li>
            <li>Track 5</li>
        </ol>
    </div>
    
</body>
</html>