<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
    <title>Pages</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="desktop-nav">
        <div class="logo-container">
            <a href="../index.html" class="logo">AK(tion)</a>
            <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
        </div>
        <ul class="menu">
            <li><a href="../about.html">About</a></li>
            <li><a href="../projects.html">Projects</a></li>
            <!--<li><a href="../music.html">Music</a></li>-->
            <li><a href="../contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="project">
        <div class="project-image">
            <img src = "../../assets/connect4.png" alt="Album 1" class = "project-cover">
        </div>
        <div class="project-description">
            <h3 class="project-title">AK(tion) Radio</h3>
            <a href="../about.html" class="project-artist">Ademide Kosoko</a>
            <h6 class="project-genre">React · MongoDB · GCP · 2025</h6>            
            <p class="project-info">This website is my own personal streaming site for my music content.
                There is an mp3 player applicatoin embedded into the site to allow users listen to my music.
                <!--This site allows users to purchase tracks they like-->
            </p>
            <div class ="project-btns">
                <a href="https://github.com/ademidek/aktion-radio" target="_blank" class="project-btn">View on GitHub</a>
                <a href="" class="project-btn">Use Project</a>
            </div>
        </div>
    </div>
    <div class="project-tracks-container">
        <h4 class="project-artist">Features of this project:</h4>
        <ol class="project-tracks">
            <li>Listen to my songs</li>
            <li>Create an account</li>
            <li>Like songs</li>
            <!--Purchase tracks-->
        </ol>
    </div>
    <footer>
        <div>
            <p>Thanks for coming, have a great day!</p>
        </div>
        <p class="footer">&copy; 2024 AK(tion) | All Rights Reserved</p>
    </footer>
</body>
</html>