<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About AK(tion)</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="desktop-nav">
        <div class="logo-container">
            <a href="index.html" class="logo">AK(tion)</a>
            <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
        </div>
        <ul class="menu">
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="music.html">Music</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- About Section -->
    <section id="about">
        <h1>About AK(tion)</h1>
        <p>My name is Ademide Kosoko, also known as AK, and creatively as AK(tion).</p>
        <p>This website is a collection of my work, both technical and creative. I combine my love for technology with my passion for music, design, and more. <br>
            From programming projects to producing beats, I aim to bring creativity to everything I do.</p>
        <p>Feel free to explore my projects, listen to my music, and learn more about my career journey as a software developer and music producer</p>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 AK(tion) | All Rights Reserved</p>
    </footer>
</body>
</html>
