<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About AK(tion).</title>
        <link rel = "stylesheet", href = "style.css">
        <link rel="stylesheet" href="mediaqueries.css">
    </head>
    <body>
        <nav id = "homepage">
            <!--<div class = "logo">AK(tion)</div>-->
            <div class = "contents">
                <div class = "main">
                    <h1>AK(tion)</h1>
                    <p>Software Developer | Music Producer</p>
                    <a href = "#contact" class = "btn">Contact</a>
                </div>
            </div>
            <div>
                <ul class = "menu">
                    <li><a href = "#layouts/index">Home</a></li>
                    <li><a href = "#layouts/projects">Projects</a></li>
                    <li><a href = "#layouts/music">Music</a></li>
                    <li><a href = "#layouts/contact">Contact</a></li>
                </ul>
            </div>
            <div>

            </div>
    </body>
</html>
