<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact AK(tion)</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="desktop-nav">
        <div class="logo-container">
            <a href="index.html" class="logo">AK(tion)</a>
            <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
        </div>
        <ul class="menu">
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="music.html">Music</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Contact Section -->
    <section id="contact">
        <div class="contact-container">
            <!--<p>Let's connect! Whether you'd like to collaborate on a project, discuss career opportunities, or just say hello, I'm always open to new conversations.</p>-->
            <ul class="contact-info">
                <li class = "btn"><a href="mailto:ademidek@gmail.com">Email</a></li>
                <li class = "btn"><a href="https://www.linkedin.com/in/ademide-kosoko" target="_blank">LinkedIn</a></li>
                <li class = "btn"><a href="https://github.com/ademidek" target="_blank">Github</a></li>
                <li class = "btn"><a href="../assets/resume.pdf" target="_blank">Download My Resume</a></li>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 AK(tion) | All Rights Reserved</p>
    </footer>
</body>
</html>
