<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The AK(tion)folio</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="desktop-nav">
        <div class="logo-container">
            <a href="index.html" class="logo">AK(tion)!</a>
            <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
        </div>
        <ul class="menu">
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="pages.html">PROJECTS</a></li>
            <li><a href="music.html">MUSIC</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
    </nav>

    <!-- Hero Section 
    <header class="hero">
        <div class="contents">
            <h1>AK(tion)</h1>
            <a href="layouts/contact.html" class="btn">Get in Touch</a>
        </div>
    </header>-->

    <!-- Overview Section -->
    <section id="overview">
        <!--<div class = "welcome-container">
            <div id="highlights">
                <ul class="circle-container">
                    <li class="btn">
                        <a href="projects.html">Explore Projects</a>
                    </li>
                    <li class="btn">
                        <a href="music.html">Explore Music</a>
                    </li>
                    <li class="btn">
                        <a href="about.html">Get to Know Me</a>
                    </li>
                    <li class="btn">
                        <a href="mailto:ademidek@gmail.com">Get In Touch</a>
                    </li>
                </ul>
            </div>-->
            <!--<p>My name is Ademide Kosoko, also known as AK, and creatively as AK(tion). This is my personal portfolio, where I showcase my passion for technology and music. 
            Explore my projects, listen to my beats, and learn more about my journey as a software developer and music producer.</p>
        </div>-->
        <div class="welcome">
            <img src="../assets/headshot.png" alt="headshot" class="mypic">
            <div>
                <h1 class="welcome">Hey, I'm Ademide! A full-stack developer in Brooklyn, NY.</h1>
                <div class="links-container">
                    <a href="https://www.linkedin.com/in/ademide-kosoko"><img src="../assets/linkedin.png" class="home-link"></a>  
                    <a href="https://www.github.com/ademidek"><img src="../assets/github.png" class="home-link"></a>  
                </div>
                <h3>My Tech Stack:</h2>
                <div class="tech-stack">
                    <a href="https://www.java.com"><img src="../assets/java.svg" class="tech-link"></a>
                    <a href="https://www.python.org"><img src="../assets/python.png" class="tech-link"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="../assets/javascript.png" class="tech-link"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"><img src="../assets/html.png" class="tech-link"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img src="../assets/css.png" class="tech-link"></a>
                    <a href="https://react.dev"><img src="../assets/react.png" class="tech-link"></a>
                    <a href="https://www.cprogramming.com/"><img src="../assets/c.png" class="tech-link"></a>
                    <a href="https://www.cprogramming.com/"><img src="../assets/c++.png" class="tech-link"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div>
            <p>Thanks for coming, have a great day!</p>
        </div>
        <p class="footer">&copy; 2024 AK(tion) | All Rights Reserved</p>
    </footer>

    <script src="main.js"></script>
</body>
</html>
