<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
    <title>Pages</title>
</head>
<body>
        <!-- Navigation Bar -->
        <nav id="desktop-nav">
            <div class="logo-container">
                <a href="index.html" class="logo">AK(tion)!</a>
                <div class="tagline">Software Developer | Music Producer | Audio Engineer</div>
            </div>
            <ul class="menu">
                <li><a href="pages.html">PROJECTS</a></li>
                <li><a href="music.html">MUSIC</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    <div class="albums-container">
        <div class="album">
            <a href="projects/connect4.html"><img src = "../assets/connect4.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">Connect 4</h3></a>
            <h6 class="album-artist">Ademide Kosoko</h6>
        </div>
        <div class="album">
            <a href="projects/album-reviews.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">AK(tion) Album Reviews</h3></a>
            <h6 class="album-artist">Ademide Kosoko</h6>
        </div>
        <div class="album">
            <a href="projects/nba.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">NBA % of Team Points Calculator</h3></a>
            <h6 class="album-artist">Ademide Kosoko</h6>
        </div>
        <div class="album">
            <a href="projects/radio.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">AK(tion) Radio</h3></a>
            <h6 class="album-artist">Ademide Kosoko</h6>
        </div>
    </div>
    
</body>
</html>