<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaqueries.css">
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Modak&display=swap" rel="stylesheet">
    <title>Pages</title>
</head>
<body>
    <div class="albums-container">
        <div class="album">
            <a href="connect4.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">Connect 4</h3></a>
        </div>
        <div class="album">
            <a href="nbateampoints.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">NBA % of Team Points Calculator</h3></a>
        </div>
        <div class="album">
            <a href="aktion-radio.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">AK(tion) Radio 4</h3></a>
        </div>
        <div class="album">
            <a href="aktion-album-reivews.html"><img src = "../assets/logo.png" alt="Album 1" class = "album-cover">
            <h3 class="album-title">AK(tion) Album Reviews</h3></a>
        </div>
    </div>
    
</body>
</html>